<div class="row">
  <nav class="navbar navbar-fixed-top" data-topbar>
      <ul class="nav navbar-nav navbar-left">
        <li class="name">
          <h1>
            <a href="/">
              <i class="fa fa-play-circle"></i> MovieStore
            </a>
          </h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <ul class="right mt-30">
          <% if signed_in? %>
            <li class="inline mr-20"><%= link_to current_user.email, edit_user_registration_path %></li>
            <li class="inline mr-20"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li class="inline mr-20"><%= link_to "Register", new_user_registration_path %></li>
            <li class="inline mr-20"><%= link_to "Login", new_user_session_path %></li>
          <%end%>
        </ul>
      </section>

    </nav>
</div>
